.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  height: 80px;
  flex-shrink: 0;
  background-color: #000;
  overflow: auto;
}

.app-main {
  flex-grow: 1;
  height: calc(100vh - 80px);
}
